<launch>
  <!-- Arguments -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find wheelchair_description)/urdf/wheelchair.xacro'" />
  <arg name="multi_robot_name" default=""/>
  <param name="robot_description" command="$(arg urdf_file)" />

  <arg name="set_base_frame" default="base_link"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="24.0" />
    <!-- <param name="tf_prefix" value="$(arg multi_robot_name)"/> -->
  </node>
  
  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <remap from="/scan" to="/scan_filtered"/>
    <rosparam command="load" file="$(find wheelchair_cartographer)/config/gmapping_params.yaml" />
  </node>
</launch>