<?xml version="1.0" encoding="UTF-8"?>
<robot name="xacro_properties" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>


</robot>
