<?xml version="1.0"?>
<robot name="wheelchair" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- differential drive -->
  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <alwaysOn>true</alwaysOn>
      <commandTopic>diff/cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>true</publishOdomTF>
      <robotBaseFrame>base_link</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>20</updateRate>
      <leftJoint>chassis_to_left_wheel</leftJoint>
      <rightJoint>chassis_to_right_wheel</rightJoint>
      <wheelSeparation>0.480</wheelSeparation>
      <wheelDiameter>0.31</wheelDiameter>
      <wheelAcceleration>1</wheelAcceleration>
      <wheelTorque>40</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>


  <!--Gazebo related physics values of left wheel joint-->
  <gazebo reference="chassis_to_left_wheel">
      <mu1 value="10000.0" />
      <mu2 value="10000.0" />
      <fdir1 value="0 0 1" />
      <kp value="300" />  <!--500000-->
      <kd value="10" />  <!--10-->
      <ki value="200"/>
      <maxVel value="2.0" />
      <minDepth value="0.0001" />
  </gazebo>
  <!--Gazebo related physics values of right wheel joint-->
  <gazebo reference="chassis_to_right_wheel">
      <mu1 value="10000.0" />
      <mu2 value="10000.0" />
      <fdir1 value="0 0 1" />
      <kp value="300" />
      <kd value="10" />
      <ki value="200" />
      <maxVel value="2.0" />
      <minDepth value="0.0001" />
  </gazebo>

  <gazebo reference="chassis">
    <material>Gazebo/FlatBlack</material>
  </gazebo>


  <gazebo reference="caster1">
    <material>Gazebo/White</material>
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <fdir1>0 0 0</fdir1>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

  <gazebo reference="caster2">
    <material>Gazebo/White</material>
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

    <gazebo reference="rod1">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="rod2">
    <material>Gazebo/Grey</material>
  </gazebo>

    <gazebo reference="camera_base_rod">
    <material>Gazebo/Grey</material>
  </gazebo>

    <gazebo reference="lidar_base_rod">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="rplidar">
    <material>Gazebo/DarkGrey</material>
    <sensor type="gpu_ray" name="head_rplidar_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.04719</min_angle>
            <max_angle>1.04719</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.2</min>
          <max>8.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_rplidar_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>scan</topicName>
        <frameName>rplidar</frameName>
      </plugin>
    </sensor>
  </gazebo>


</robot>
